{% spaceless %}


    {% set list = items__get( db, get.level, null, 'id_id' ) %}
    {#{{ pa(list) }}#}

    <div class="container-fluid">
        <div class="grid">
            
             {% include dir_mod_now_mod_ditpl~'body.form_add.htm' %} 

            {% if edit_item is not defined %}

                {% if get.showonly is not defined %}
                    {% include dir_mod_now_mod_ditpl~'body.list_items.htm' %}
                {% endif %}

            {% endif %}

        </div>
    </div>


{% endspaceless %}